pandas
pysolr
# Coincide con la versión del contenedor de Milvus
pymilvus==2.6.3
sentence-transformers
transformers
torch
tqdm
# Necesario para la segmentación (chunking) en oraciones
nltk
google-generativeai
dotenv